Solution/Doan02_Sources/ChiNhanh01/SaleList_01.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="SalesXSDSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Sale">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="SaleNumber" type="xs:string" />
              <xs:element minOccurs="0" name="CusNumber" type="xs:string" />
              <xs:element minOccurs="0" name="Store" type="xs:string" />
              <xs:element minOccurs="0" name="Date" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>